In [99]:
import os
import pandas as pd
import smtplib
from email.message import EmailMessage
import numpy as np
from datetime import date
import os
import zipfile

In [106]:

def get_excel_file(file):
    
    # list the name of files in the current directory
    file_list = os.listdir()
    print(file_list)

    # get name of the xlsx file
   # xlsx_file_list = [file for file in file_list if '.xlsx' in file]
    xlsx_file_list = file

    if len(xlsx_file_list) < 1: 
        raise ValueError('There is no excel file in the current directory!')
    else:
        xlsx_filename = xlsx_file_list
       
    
     # read in the excel
    df = pd.read_excel(f'./{xlsx_filename}', header=[0],skiprows=3)
    return df

In [100]:
def zip_file(folder_path, output_path):
  with zipfile.ZipFile(output_path,'w') as zip_file:
    for filename in os.listdir(folder_path):
      if filename.endswith('.csv'):
        file_path = os.path.join(folder_path,filename)
        zip_file.write(file_path,filename)

# Sección nueva

In [107]:
df = get_excel_file('23. RQ QMC-PTC ABR- 08032023.xlsx')

['.config', 'PorReqLinesInterfaceAll.csv', '.ipynb_checkpoints', 'PorReqDistsInterfaceAll.csv', '24. RQ QMC-PTC ABR- 08032023.xlsx', '23. RQ QMC-PTC ABR- 08032023.xlsx', 'PorReqHeadersInterfaceAll.csv', 'sample_data']

In [68]:
df = df.dropna()
#df_blank = pd.DataFrame({f'columna_{i}':[] for i in range (61)})

In [92]:
df['rq'] = 'REQ1'
df['owner'] = 'PTC Colombia'
df['code'] = '111'
df['blank'] = np.nan
df['owner'] = 'PTC Colombia'
df['status'] = 'incomplete'
df['email'] = 'diego.robayo@wom.co'
df['letter'] = 'N'
df['type'] = 'EXPENSE'
df['office'] = 'OFICINA ADMINISTRATIVA BOGOTA'
df['line_types'] = 'Productos'
df['supplier_site'] = 'OPEX NACIONAL'
df['date'] = date.today()
df['percentage'] = 100
df['charge_account_segment1'] = 20
df['charge_account_segment2'] = 742010
df['charge_account_segment3'] = 3401
df['charge_account_segment4'] = 25175
df['charge_account_segment5'] = '000'
df['charge_account_segment6'] = '000'
df['charge_account_segment7'] = '000'
df['charge_account_segment8'] = '000'
df['end'] = 'END'

df['new_index'] = df.reset_index()['index']
df = df.rename(columns={ 'index':'new_index'})
df

,Codigo presupuesto,Ítem Num.,Descripcion-Actividad-Servicio,Moneda Origen COP / USD,Unid. Med.,Cantidad Unidades,Precio Unitario,Precito Total,Mes de ejecucion,Contrato / Area,...,date,percentage,charge_account_segment1,charge_account_segment2,charge_account_segment3,charge_account_segment4,charge_account_segment5,charge_account_segment6,charge_account_segment7,charge_account_segment8
0,2.0,1.0,QMC arrendamiento estaciones base ABRIL-23 (49...,COP,mes,1.0,167736749,167736749.0,2023-04-01,OYM,...,2023-04-17,100,20,141501001,3202,25175,000,000,000,000

In [53]:

df_head = df[['rq','Descripcion-Actividad-Servicio','owner','code','blank','status','blank'
      ,'email','blank','blank','Descripcion-Actividad-Servicio','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','letter','end']] 
df_head

#df_result = pd.concat([df2,df_blank], axis= 1)

,rq,Descripcion-Actividad-Servicio,owner,code,blank,status,blank,email,blank,blank,...,blank,blank,blank,blank,blank,blank,blank,blank,letter,end
0,REQ1,QMC arrendamiento estaciones base ABRIL-23 (49...,PTC Colombia,111,NaN,incomplete,NaN,diego.robayo@wom.co,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,END

In [54]:
df_head.to_csv('PorReqHeadersInterfaceAll.csv',header=None)

In [55]:
df_head

,Codigo presupuesto,Ítem Num.,Descripcion-Actividad-Servicio,Moneda Origen COP / USD,Unid. Med.,Cantidad Unidades,Precio Unitario,Precito Total,Mes de ejecucion,Contrato / Area,...,Cuenta,Proveedor,rq,owner,code,blank,status,email,letter,end
0,2.0,1.0,QMC arrendamiento estaciones base ABRIL-23 (49...,COP,mes,1.0,167736749,167736749.0,2023-04-01,OYM,...,742010.0,QMC,REQ1,PTC Colombia,111,NaN,incomplete,diego.robayo@wom.co,N,END

In [85]:
df_lines = df[['new_index','rq','blank','type','office','blank','blank'
          ,'email','Descripcion-Actividad-Servicio','blank'
          ,'blank','blank','blank','line_types','Cantidad Unidades'
          ,'Moneda Origen COP / USD','Precio Unitario'
          ,'blank','blank','blank','blank','blank','blank','blank'
          ,'blank','owner','blank','blank','Proveedor'
          ,'supplier_site','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','blank','blank','blank','blank'
          ,'blank','blank','date','blank','blank','blank','blank','blank'
          ,'blank','end']]
df_lines

,new_index,rq,blank,type,office,blank,blank,email,Descripcion-Actividad-Servicio,blank,...,blank,blank,date,blank,blank,blank,blank,blank,blank,end
0,0,REQ1,NaN,EXPENSE,OFICINA ADMINISTRATIVA BOGOTA,NaN,NaN,diego.robayo@wom.co,QMC arrendamiento estaciones base ABRIL-23 (49...,NaN,...,NaN,NaN,2023-04-17,NaN,NaN,NaN,NaN,NaN,NaN,END

In [88]:
df_lines.to_csv('PorReqLinesInterfaceAll.csv',header = None,index=False)

In [93]:
df_head = df[['new_index','percentage','blank','Cantidad Unidades','Precio Unitario','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','letter','charge_account_segment1'
      ,'charge_account_segment2','charge_account_segment3','charge_account_segment4',
      'charge_account_segment5','charge_account_segment6','charge_account_segment7'
      ,'charge_account_segment8','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','blank','blank','blank','blank'
      ,'blank','blank','blank','blank','blank','end']] 
df_head

,new_index,percentage,blank,Cantidad Unidades,Precio Unitario,blank,blank,blank,blank,blank,...,blank,blank,blank,blank,blank,blank,blank,blank,blank,end
0,0,100,NaN,1.0,167736749,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,END

In [95]:
df_lines.to_csv('PorReqDistsInterfaceAll.csv',header=None,index=False)

In [102]:
zip_file('/content/','/content/PorImportRequisitions.zip')